html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    background: #1e1e1e;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Header */

.big-logo {
    width: 100%;
    padding: 1em;
}

.small-logo {
    display: none;
}

/* Nav */

#menu {
    display: none;
}
